# API Gateway
PORT=3000

# Routing Microservice TCP connection
ROUTING_SERVICE_HOST=localhost
ROUTING_SERVICE_PORT=3001

# OSRM Backend URL (use http://osrm-backend:5000 in Docker)
OSRM_URL=http://localhost:5000

# Nominatim Geocoding URL
# Public: https://nominatim.openstreetmap.org
# Local Docker: http://nominatim:8080
NOMINATIM_URL=https://nominatim.openstreetmap.org

NODE_ENV=development
